<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
   <th:block th:each="subscription : ${subscriptions}" border="1">
      <tr>
		<td><a th:href="@{'/web/web-banking/subscription/' + ${subscription.id}}">view</a></td>
		<td th:text=" ${subscription.subType}" >...</td>
		<td th:text=" ${subscription.active}" >...</td>
		<td th:text=" ${subscription.compId}" >...</td>
		<td th:text=" ${subscription.contPersId}" >...</td>
		<td th:text=" ${subscription.productLastChanged}" >...</td>
		<td th:text=" ${subscription.langId}" >...</td>
		<td th:text=" ${subscription.applicationProvId}" >...</td>
		<td th:text=" ${subscription.applicationBranch}" >...</td>
		<td th:text=" ${subscription.creationDate}" >...</td>
		<td th:text=" ${subscription.signDate}" >...</td>
		<td th:text=" ${subscription.signProvId}" >...</td>
		<td th:text=" ${subscription.signBranch}" >...</td>
		<td th:text=" ${subscription.basicProdId}" >...</td>
		<td th:text=" ${subscription.personalCompName}" >...</td>
		<td th:text=" ${subscription.personalCompTitle}" >...</td>
		<td th:text=" ${subscription.deactivatedTransId}" >...</td>
		<td th:text=" ${subscription.maxApprLevel}" >...</td>
		<td th:text=" ${subscription.maxApprLevelForSubsMaintenance}" >...</td>
		<td th:text=" ${subscription.administrtationUnit}" >...</td>
		<td th:text="${subscription.customerGeneralID}" >...</td>
      </tr>
   </th:block>
   <div th:include="footer :: copy"></div>
</table>
</body>
</html>